<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gpt.chatproject.dao.MemberInfoDao">

    <resultMap id="MemberInfoResultMap" type="com.gpt.chatproject.entity.MemberInfo">
        <id column="user_id" property="userId"/>
        <result column="member_level" property="memberLevel"/>
        <result column="image_num" property="imageNum"/>
        <result column="points" property="points"/>
        <result column="start_time" property="startTime"/>
        <result column="expire_time" property="expireTime"/>
    </resultMap>

    <insert id="insert" parameterType="com.gpt.chatproject.entity.MemberInfo">
        INSERT INTO member_info
            (user_id, member_level,image_num, points, start_time, expire_time)
        VALUES (#{userId}, #{memberLevel}, #{imageNum}, #{points}, #{startTime}, #{expireTime})
    </insert>

    <update id="update" parameterType="com.gpt.chatproject.entity.MemberInfo">
        UPDATE member_info
        SET member_level = #{memberLevel},
            image_num    = #{imageNum},
            points       = #{points},
            start_time   = #{startTime},
            expire_time  = #{expireTime}
        WHERE user_id = #{userId}
    </update>

    <delete id="delete" parameterType="java.lang.Integer">
        DELETE
        FROM member_info
        WHERE user_id = #{userId}
    </delete>

    <select id="findByUserId" parameterType="java.lang.String" resultMap="MemberInfoResultMap">
        SELECT *
        FROM member_info
        WHERE user_id = #{userId}
    </select>

    <select id="findAll" resultMap="MemberInfoResultMap">
        SELECT *
        FROM member_info
    </select>
</mapper>
